In [5]:
from SPARQLWrapper import SPARQLWrapper, JSON
import pandas as pd

In [2]:
sparql = SPARQLWrapper("https://landregistry.data.gov.uk/landregistry/query")
sparql.setReturnFormat(JSON)

In [59]:
# gets the first 3 geological ages
# from a Geological Timescale database,
# via a SPARQL endpoint
sparql.setQuery("""
prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>
prefix owl: <http://www.w3.org/2002/07/owl#>
prefix xsd: <http://www.w3.org/2001/XMLSchema#>
prefix sr: <http://data.ordnancesurvey.co.uk/ontology/spatialrelations/>
prefix ukhpi: <http://landregistry.data.gov.uk/def/ukhpi/>
prefix lrppi: <http://landregistry.data.gov.uk/def/ppi/>
prefix skos: <http://www.w3.org/2004/02/skos/core#>
prefix lrcommon: <http://landregistry.data.gov.uk/def/common/>

# House price index for all regions within a given date range
SELECT ?regionName ?code ?date ?hpi ?hpiDetached ?hpiFlatMaisonette ?hpiSemiDetached ?hpiTerraced ?averagePriceDetached ?averagePriceFlatMaisonette ?averagePriceSemiDetached ?averagePriceTerraced
{
  ?region ukhpi:refPeriodStart ?date;
          ukhpi:housePriceIndex ?hpi;
          ukhpi:housePriceIndexDetached ?hpiDetached;
          ukhpi:housePriceIndexFlatMaisonette ?hpiFlatMaisonette;
          ukhpi:housePriceIndexSemiDetached ?hpiSemiDetached;
          ukhpi:housePriceIndexTerraced ?hpiTerraced;
          ukhpi:averagePriceDetached ?averagePriceDetached;
          ukhpi:averagePriceFlatMaisonette ?averagePriceFlatMaisonette;
          ukhpi:averagePriceSemiDetached ?averagePriceSemiDetached;
          ukhpi:averagePriceTerraced ?averagePriceTerraced.

  ?region ukhpi:refRegion ?regionRef.
  
#  ?regionRef owl:sameAs ?code.
  ?regionRef rdfs:seeAlso ?code.
             
  ?regionRef rdfs:label ?regionName.
  

  FILTER (langMatches( lang(?regionName), "EN")&&
         ?date > "2015-12-31"^^xsd:date)
             
  FILTER contains(str(?code),"gov")
}
    """
)

try:
    ret = sparql.queryAndConvert()

#     for r in ret["results"]["bindings"]:
#         print(r)
except Exception as e:
    print(e)

pd.json_normalize(ret["results"]["bindings"])

,regionName.type,regionName.xml:lang,regionName.value,code.type,code.value,date.type,date.datatype,date.value,hpi.type,hpi.datatype,...,averagePriceDetached.value,averagePriceFlatMaisonette.type,averagePriceFlatMaisonette.datatype,averagePriceFlatMaisonette.value,averagePriceSemiDetached.type,averagePriceSemiDetached.datatype,averagePriceSemiDetached.value,averagePriceTerraced.type,averagePriceTerraced.datatype,averagePriceTerraced.value
0,literal,en,South East,uri,http://statistics.data.gov.uk/id/statistical-g...,literal,http://www.w3.org/2001/XMLSchema#date,2016-01-01,literal,http://www.w3.org/2001/XMLSchema#decimal,...,504662,literal,http://www.w3.org/2001/XMLSchema#integer,186887,literal,http://www.w3.org/2001/XMLSchema#integer,312100,literal,http://www.w3.org/2001/XMLSchema#integer,244155
1,literal,en,South East,uri,http://statistics.data.gov.uk/id/statistical-g...,literal,http://www.w3.org/2001/XMLSchema#date,2016-02-01,literal,http://www.w3.org/2001/XMLSchema#decimal,...,508773,literal,http://www.w3.org/2001/XMLSchema#integer,187995,literal,http://www.w3.org/2001/XMLSchema#integer,312804,literal,http://www.w3.org/2001/XMLSchema#integer,246413
2,literal,en,South East,uri,http://statistics.data.gov.uk/id/statistical-g...,literal,http://www.w3.org/2001/XMLSchema#date,2016-03-01,literal,http://www.w3.org/2001/XMLSchema#decimal,...,518487,literal,http://www.w3.org/2001/XMLSchema#integer,191559,literal,http://www.w3.org/2001/XMLSchema#integer,316161,literal,http://www.w3.org/2001/XMLSchema#integer,249718
3,literal,en,South East,uri,http://statistics.data.gov.uk/id/statistical-g...,literal,http://www.w3.org/2001/XMLSchema#date,2016-04-01,literal,http://www.w3.org/2001/XMLSchema#decimal,...,508036,literal,http://www.w3.org/2001/XMLSchema#integer,189745,literal,http://www.w3.org/2001/XMLSchema#integer,315243,literal,http://www.w3.org/2001/XMLSchema#integer,249537
4,literal,en,South East,uri,http://statistics.data.gov.uk/id/statistical-g...,literal,http://www.w3.org/2001/XMLSchema#date,2016-05-01,literal,http://www.w3.org/2001/XMLSchema#decimal,...,509294,literal,http://www.w3.org/2001/XMLSchema#integer,194705,literal,http://www.w3.org/2001/XMLSchema#integer,317598,literal,http://www.w3.org/2001/XMLSchema#integer,252591
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33930,literal,en,Northern Ireland,uri,http://statistics.data.gov.uk/id/statistical-g...,literal,http://www.w3.org/2001/XMLSchema#date,2022-07-01,literal,http://www.w3.org/2001/XMLSchema#decimal,...,270991,literal,http://www.w3.org/2001/XMLSchema#integer,129230,literal,http://www.w3.org/2001/XMLSchema#integer,169956,literal,http://www.w3.org/2001/XMLSchema#integer,122673
33931,literal,en,Northern Ireland,uri,http://statistics.data.gov.uk/id/statistical-g...,literal,http://www.w3.org/2001/XMLSchema#date,2022-07-01,literal,http://www.w3.org/2001/XMLSchema#decimal,...,270991,literal,http://www.w3.org/2001/XMLSchema#integer,129230,literal,http://www.w3.org/2001/XMLSchema#integer,169956,literal,http://www.w3.org/2001/XMLSchema#integer,122673
33932,literal,en,Northern Ireland,uri,http://statistics.data.gov.uk/id/statistical-g...,literal,http://www.w3.org/2001/XMLSchema#date,2022-07-01,literal,http://www.w3.org/2001/XMLSchema#decimal,...,270991,literal,http://www.w3.org/2001/XMLSchema#integer,129230,literal,http://www.w3.org/2001/XMLSchema#integer,169956,literal,http://www.w3.org/2001/XMLSchema#integer,122673
33933,literal,en,Northern Ireland,uri,http://statistics.data.gov.uk/id/statistical-g...,literal,http://www.w3.org/2001/XMLSchema#date,2022-10-01,literal,http://www.w3.org/2001/XMLSchema#decimal,...,270991,literal,http://www.w3.org/2001/XMLSchema#integer,129230,literal,http://www.w3.org/2001/XMLSchema#integer,169956,literal,http://www.w3.org/2001/XMLSchema#integer,122673
33934,literal,en,Northern Ireland,uri,http://statistics.data.gov.uk/id/statistical-g...,literal,http://www.w3.org/2001/XMLSchema#date,2022-10-01,literal,http://www.w3.org/2001/XMLSchema#decimal,...,270991,literal,http://www.w3.org/2001/XMLSchema#integer,129230,literal,http://www.w3.org/2001/XMLSchema#integer,169956,literal,http://www.w3.org/2001/XMLSchema#integer,122673

In [60]:
df=pd.json_normalize(ret["results"]["bindings"])

In [61]:
df['code']=df['code.value'].str.split('/',expand=True)[5]

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33935 entries, 0 to 33934
Data columns (total 36 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   regionName.type                      33935 non-null  object
 1   regionName.xml:lang                  33935 non-null  object
 2   regionName.value                     33935 non-null  object
 3   code.type                            33935 non-null  object
 4   code.value                           33935 non-null  object
 5   date.type                            33935 non-null  object
 6   date.datatype                        33935 non-null  object
 7   date.value                           33935 non-null  object
 8   hpi.type                             33935 non-null  object
 9   hpi.datatype                         33935 non-null  object
 10  hpi.value                            33935 non-null  object
 11  hpiDetached.type                     33935 non-null  object
 12  hpiDetached.datatype                 33935 non-null  object
 13  hpiDetached.value                    33935 non-null  object
 14  hpiFlatMaisonette.type               33935 non-null  object
 15  hpiFlatMaisonette.datatype           33935 non-null  object
 16  hpiFlatMaisonette.value              33935 non-null  object
 17  hpiSemiDetached.type                 33935 non-null  object
 18  hpiSemiDetached.datatype             33935 non-null  object
 19  hpiSemiDetached.value                33935 non-null  object
 20  hpiTerraced.type                     33935 non-null  object
 21  hpiTerraced.datatype                 33935 non-null  object
 22  hpiTerraced.value                    33935 non-null  object
 23  averagePriceDetached.type            33935 non-null  object
 24  averagePriceDetached.datatype        33935 non-null  object
 25  averagePriceDetached.value           33935 non-null  object
 26  averagePriceFlatMaisonette.type      33935 non-null  object
 27  averagePriceFlatMaisonette.datatype  33935 non-null  object
 28  averagePriceFlatMaisonette.value     33935 non-null  object
 29  averagePriceSemiDetached.type        33935 non-null  object
 30  averagePriceSemiDetached.datatype    33935 non-null  object
 31  averagePriceSemiDetached.value       33935 non-null  object
 32  averagePriceTerraced.type            33935 non-null  object
 33  averagePriceTerraced.datatype        33935 non-null  object
 34  averagePriceTerraced.value           33935 non-null  object
 35  code                                 33935 non-null  object
dtypes: object(36)
memory usage: 9.3+ MB

In [63]:
df2=df[['regionName.value', 'code','date.value','hpi.value','hpiDetached.value','hpiFlatMaisonette.value','hpiSemiDetached.value','hpiTerraced.value', 'averagePriceDetached.value','averagePriceFlatMaisonette.value','averagePriceSemiDetached.value','averagePriceTerraced.value' ]]

In [64]:
df2

,regionName.value,code,date.value,hpi.value,hpiDetached.value,hpiFlatMaisonette.value,hpiSemiDetached.value,hpiTerraced.value,averagePriceDetached.value,averagePriceFlatMaisonette.value,averagePriceSemiDetached.value,averagePriceTerraced.value
0,South East,E12000008,2016-01-01,110.88,110.97,109.93,111.84,110.80,504662,186887,312100,244155
1,South East,E12000008,2016-02-01,111.62,111.87,110.58,112.09,111.82,508773,187995,312804,246413
2,South East,E12000008,2016-03-01,113.35,114.01,112.68,113.29,113.32,518487,191559,316161,249718
3,South East,E12000008,2016-04-01,112.41,111.71,111.61,112.96,113.24,508036,189745,315243,249537
4,South East,E12000008,2016-05-01,113.73,111.99,114.53,113.81,114.63,509294,194705,317598,252591
...,...,...,...,...,...,...,...,...,...,...,...,...
33930,Northern Ireland,N92000001,2022-07-01,158.76,161.26,147.88,155.61,162.58,270991,129230,169956,122673
33931,Northern Ireland,N92000001,2022-07-01,158.76,161.26,147.88,155.61,162.58,270991,129230,169956,122673
33932,Northern Ireland,N92000001,2022-07-01,158.76,161.26,147.88,155.61,162.58,270991,129230,169956,122673
33933,Northern Ireland,N92000001,2022-10-01,158.76,161.26,147.88,155.61,162.58,270991,129230,169956,122673
33934,Northern Ireland,N92000001,2022-10-01,158.76,161.26,147.88,155.61,162.58,270991,129230,169956,122673

In [66]:
df2.to_csv('landreg.csv',index=False)